.section.about-start
	.bricks
		.m12.t2.d3.about-logo
			+img('logo.png')
		.m12.t10.dwd9.about-desc
			h2.title
				span ТОО "Промбезтехнологии"
			p.about-text Компания ТОО Промбезтехнологии с начала 2000–х годов занимается оказанием услуг в области пожарной безопасности. За это время компания помогла большому количеству малых и крупных предприятий, учреждениям, социальным объектам, привести их в соответствие с требованиями норм и правил пожарной безопасности согласно требований Закона. После этого совместно с нашим заказчиками мы ведем работу по дальнейшему поддержанию объекта в надлежащем противопожарном состоянии - обслуживаем, консультируем и всегда на связи.
			p.about-text Наши эксперты окажут бесплатную консультацию по соблюдению противопожарных мер на вашем объекте, проведут обучение и если Вы захотите узнать «реальную картину» состояния вашего объекта мы проведем для Вас бесплатный аудит пожарной безопасности!