.section
	.photo
		+img('about-photo.jpg')
	.pluses
		.pluses-unit
			h5.title-red
				span 21
			span.pluses-text год на рынке
		.pluses-unit
			h5.title-red
				span 1000+
			span.pluses-text объектов
		.pluses-unit
			h5.title-red
				span 40
			span.pluses-text профессионалов
		.pluses-unit
			h5.title-red
				span 2
			span.pluses-text крупных офиса