.news-slide
	a(href='./news-unit.html').slide-photo
		+img('news-photo-1.jpg')
	.slide-desc
		.slide-date
			span 20 января
		a(href='./news-unit.html').slide-title
			span Хорошие новости:
			span Ничего не сгорело
		p.slide-text Loreim ipsum riba text allo, eto novosti. Horoshir novosti. Horoshir novosti.
		.slide-tags
			span Камеры
			span tag2
			span tag3