.section
	.bricks
		each service in services
			.m12.t4.dwd4.services-unit
				a(href='./service.html').button-red
					span Подробнее
					include ../../img/arrow-red.svg
				.services-unit-inner
					h3.title-red.services-title
						span!= service['title'][0]
						-if (service['title'][1])
							span!= service['title'][1]
					p.services-unit-text!= service['text']
				.services-unit-photo
					+img('services-bgc-4.jpg')