-
	let services = [
		{
			image: 'services-bgc-4.jpg',
			title: ['АУДИТ'],
			text: 'Пожарный аудит устанавливает степень оценки рисков в области пожарной безопасности.',
			tag: 'Видеокамеры'
		},
		{
			image: 'services-bgc-4.jpg',
			title: ['Испытательная','Лаборатория'],
			text: 'У нас вы можете заказать все виды испытаний для выполнения и беспечения пожарной безопасности.',
			tag: 'РЕГИСТРАТОРЫ'
		},
		{
			image: 'services-bgc-4.jpg',
			title: ['Охранно-пожарная','сигнализация'],
			text: 'Основная цель – это спасение жизни людей и охрана объекта.',
			tag: 'ОГНЕТУШИТЕЛИ'
		},
		{
			image: 'services-bgc-4.jpg',
			title: ['Огнезащитная','обработка'],
			text: 'Немаловажно, огнезащиту нужно проводить качественным способом.',
			tag: 'Видеокамеры'
		},
		{
			image: 'services-bgc-4.jpg',
			title: ['Обслуживание','огнетушителей'],
			text: 'Огнетушители нужно использовать, соблюдая ряд требований.',
			tag: 'РЕГИСТРАТОРЫ'
		},
		{
			image: 'services-bgc-4.jpg',
			title: ['Учебный центр'],
			text: 'Первоначальная подготовка специалистов негосударственной противопожарной службы.',
			tag: 'ОГНЕТУШИТЕЛИ'
		},
		{
			image: 'services-bgc-4.jpg',
			title: ['Видеонаблюдение'],
			text: 'Система видеонаблюдения является  лучшим  средством обеспечения безопасности.',
			tag: 'Видеокамеры'
		},
		{
			image: 'services-bgc-4.jpg',
			title: ['Система водяного','пожаротушения'],
			text: 'Проектирование такой водяной системы осуществляются обученными специалистами.',
			tag: 'РЕГИСТРАТОРЫ'
		},
		{
			image: 'services-bgc-4.jpg',
			title: ['Проектирование'],
			text: 'Проектирование водяного пожаротушения, видеонаблюдения, сигнализации, дымоудаления.',
			tag: 'ОГНЕТУШИТЕЛИ'
		}
	]